<!DOCTYPE html>
<html class="height-full">
  <head>
    <title>MATI Superchats</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uswds/3.8.0/css/uswds.min.css" integrity="sha512-fxBZVlVQrZVKTlt4kr/hPDd1p0SYHuQxytgI9ccrYonBfAFTXbGPSL08YdYUA8DPXpW25F5G+nOjQK76s5USQQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uswds/3.8.0/js/uswds-init.min.js" integrity="sha512-O4/iaC7XNMEYqktWqYtH6Rg++++GZAdUMITJVzu0D1X4ckQyXHJOoC4SC4Ivwsr8YMTjhSnDxem0Ac62IQuG1w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    {% block importmap %}{{ importmap('app') }}{% endblock %}
  </head>
  <body data-controller="live-superchats" data-live-superchats-live-url-value="{{ url('mati_live') }}">
    <div class="position-sticky top-0 z-200 bg-white border-bottom-1px border-base-lighter">
      <header class="usa-header usa-header--basic">
        <div class="usa-nav-container grid-row flex-align-center">
          <div class="grid-col-fill">
            <div class="usa-logo">
              <em class="usa-logo__text">MATI Superchats</em>
            </div>   
          </div>
          <div class="grid-col-auto usa-nav__primary">
            <div class="usa-nav__primary-item">
              <a target="_blank" class="usa-nav-link" title="Disconnected" data-live-superchats-target="indicatorLink">
                <svg class="usa-icon square-4 text-red" data-live-superchats-target="indicatorImage">
                  <use href="{{ asset('external/sprite.svg') }}#electrical_services"></use>
                </svg>
              </a>
            </div>
          </div>
          <div class="grid-col-auto usa-nav__primary">
            <div class="usa-nav__primary-item">
              <a href="https://github.com/iCantSneed/mati-superchats/releases" target="_blank" class="usa-nav-link" title="Superchats Archive">
                <svg class="usa-icon square-4">
                  <use href="{{ asset('external/sprite.svg') }}#topic"></use>
                </svg>
              </a>
            </div>
          </div>
          <div class="grid-col-auto usa-nav__primary">
            <div class="usa-nav__primary-item">
              <a href="https://github.com/iCantSneed/mati-superchats" target="_blank" class="usa-nav-link" title="SneedHub">
                <svg class="usa-icon square-4">
                  <use href="{{ asset('external/sprite.svg') }}#github"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </header>
    </div>
    <div class="usa-section">
      <div class="grid-container">
        <div class="grid-row">
          <div class="usa-alert usa-alert--warning">
            <div class="usa-alert__body">
              <p class="usa-alert__text">
                There is currently a problem in the app where it's unable to retrieve the livestream URL. As such, superchats for entire livestreams may be missing.
                <br><a href="https://github.com/iCantSneed/mati-superchats/issues/117">SneedHub issue</a>
              </p>
            </div>
          </div>
          <main class="usa-prose" id="superchats-container">
            <div id="live-connecting">Hold on while you're being connected...</div>
          </main>
        </div>
      </div>
    </div>
    <div class="usa-identifier">
      <section class="usa-identifier__section usa-identifier__section--usagov">
        <div class="usa-identifier__container">
          <p>Copyright &copy;{{ "now"|date("Y") }}. Licensed under <a href="https://github.com/iCantSneed/mati-superchats/blob/master/LICENSE">GNU Affero General Public License v3.0</a>.</p>
          <p>The owners and operators of this website take no responsibility and assume no liability for any user content that you or any other person or third party posts or sends using the service.</p>
          <p>Version: {{ include('revision', ignore_missing = true)|default('dev') }}</p>
        </div>
      </section>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uswds/3.8.0/js/uswds.min.js" integrity="sha512-V/eNPuqU6gTDHwQsFL5X12i0TzX5lwVvON6VuEeTXDoSnAeA5nnc53TUEhiUdT16s0nj4MXo6OcUBAvwhdFOAw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  </body>
</html>
