<!DOCTYPE html>
<html>
  <head>
    <title>MATI Superchats</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uswds/3.8.0/css/uswds.min.css" integrity="sha512-fxBZVlVQrZVKTlt4kr/hPDd1p0SYHuQxytgI9ccrYonBfAFTXbGPSL08YdYUA8DPXpW25F5G+nOjQK76s5USQQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uswds/3.8.0/js/uswds-init.min.js" integrity="sha512-O4/iaC7XNMEYqktWqYtH6Rg++++GZAdUMITJVzu0D1X4ckQyXHJOoC4SC4Ivwsr8YMTjhSnDxem0Ac62IQuG1w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    {% block importmap %}{{ importmap('app') }}{% endblock %}
  </head>
  <body data-controller="live-superchats" data-live-superchats-live-url-value="{{ url('mati_live') }}">
    <div class="usa-overlay"></div>
    <header class="usa-header usa-header--basic">
      <div class="usa-nav-container">
        <div class="usa-navbar">
          <div class="usa-logo">
            <em class="usa-logo__text">MATI Superchats</em>
          </div>
          <button type="button" class="usa-menu-btn">Menu</button>    
        </div>
        <nav class="usa-nav">
          <button type="button" class="usa-nav__close">
            <svg class="usa-icon square-3">
              <use href="{{ asset('external/sprite.svg') }}#close"></use>
            </svg>
          </button>
          <ul class="usa-nav__primary usa-accordion">
            <li class="usa-nav__primary-item">
              <a target="_blank" class="usa-nav-link" title="Disconnected" data-live-superchats-target="indicatorLink">
                <svg class="usa-icon square-4 text-red" data-live-superchats-target="indicatorImage">
                  <use href="{{ asset('external/sprite.svg') }}#electrical_services"></use>
                </svg>
                <span class="desktop:display-none" data-live-superchats-target="indicatorTitle">Disconnected</span>
              </a>
            </li>
            <li class="usa-nav__primary-item">
              <a href="https://github.com/iCantSneed/mati-superchats/releases" target="_blank" class="usa-nav-link" title="Superchats Archive">
                <svg class="usa-icon square-4">
                  <use href="{{ asset('external/sprite.svg') }}#topic"></use>
                </svg>
                <span class="desktop:display-none">Superchats Archive</span>
              </a>
            </li>
            <li class="usa-nav__primary-item">
              <a href="https://github.com/iCantSneed/mati-superchats" target="_blank" class="usa-nav-link" title="SneedHub">
                <svg class="usa-icon square-4">
                  <use href="{{ asset('external/sprite.svg') }}#github"></use>
                </svg>
                <span class="desktop:display-none">SneedHub</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="usa-section">
      <div class="grid-container">
        <div class="grid-row">
          <main class="usa-prose" id="superchats-container">
            <div id="live-connecting">Hold on while you're being connected...</div>
          </main>
        </div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uswds/3.8.0/js/uswds.min.js" integrity="sha512-V/eNPuqU6gTDHwQsFL5X12i0TzX5lwVvON6VuEeTXDoSnAeA5nnc53TUEhiUdT16s0nj4MXo6OcUBAvwhdFOAw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  </body>
</html>
